<!DOCTYPE html>
<html lang="en" ng-app="loja-virtual">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://icons.iconarchive.com/icons/dtafalonso/ios7-desktop/256/Garage-Band-icon.png" type="image/x-icon">
    <link rel="stylesheet" href="./assets/style/loja.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <title>Loja</title>
</head>
<body  ng-controller="HomeController">

    <header>
      <div class="storeName">
        <h1><img src="https://icons.iconarchive.com/icons/dtafalonso/ios7-desktop/256/Garage-Band-icon.png" alt="">6-strings</h1>
        <h2>Center</h2>
    </div>
        <nav>
          <ul>
            <li><a href="./index.html">Página Inicial</a></li>
          </ul>
        </nav>
        
        <a href="./carrinho.html" class="cart-button" ng-click="carrinho()"  ng-if="isAuthenticated" >
          <img src="https://icons.iconarchive.com/icons/google/noto-emoji-objects/256/63007-shopping-cart-icon.png" alt="Carrinho" class="cart-icon">
      </a>

      <a href="./admin/index.html" class="admin-button" ng-if="isAuthenticated && isAdmin" >
        <img src="https://icons.iconarchive.com/icons/pelfusion/christmas-shadow-2/256/Crown-icon.png" class="cart-icon">
    </a>

      <a href="./login.html" ng-if="!isAuthenticated"><button>Entrar</button></a>
      <a href="./index.html" ng-if="isAuthenticated"> <button ng-click="logout()">Sair</button></a>
      </header>

      <section class="product-section">
        <h2>Guitarras e Violões</h2>
        <div class="product-container">
         
          
          <div class="product-card" ng-repeat="product in products">
            <img ng-src="{{product.imageUrl}}">
            <h3>{{product.name}}</h3>
            <p>{{product.description}}</p>
            <span class="price">{{product.price | currency}}</span>
             <button class="add-to-cart-button" ng-click="addToCart(product.id)">Adicionar ao Carrinho +</button>
          </div>

          </div>

          
      </section>

      <script src="./assets/script/lib/jwt-decode.js"></script>
      <script src="./assets/script/app.js"></script>
      <script src="./assets/script/services/session.service.js"></script>
      <script src="./assets/script/services/admin.service.js"></script>
      <script src="./assets/script/controllers/index.js"></script>
</body>
</html>
